<app-header ></app-header>
<div class="background ">
    <br>

    <div class="container ">

        <div class="card-deck mb-3 mt-5 text-center">
            <!--         <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Velocidad y agilidad aritmética</h4>
            </div>
            <div class="card-body">
                <img src="../../../assets/imagenes/agilidad.gif" alt="juegos" class="responsive">
                <button type="button" class="btn btn-lg btn-block btn-outline-dark"
                    routerLink="/Juegos/Agilidad">Jugar</button>
            </div>
        </div> -->
            <div class="card mb-4 shadow-sm text-white bg-dark border border-primary">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Ahorcado</h4>
                </div>
                <div class="card-body">
                    <img src="../../../assets/images/ahorcado.gif" alt="" class="responsive">
                    <button type="button" class="btn btn-lg btn-block btn-outline-success"
                        routerLink="/ahorcado">Jugar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm text-white bg-dark border border-primary">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Mayor o Menor</h4>
                </div>
                <div class="card-body">
                    <img src="../../../assets/images/mayormenor.gif" alt="" class="responsive">
                    <button type="button" class="btn btn-lg btn-block btn-outline-success"
                        routerLink="/mayoromenor">Jugar</button>
                </div>
            </div>
            <div class="card mb-4 shadow-sm text-white bg-dark border border-primary">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Preguntados</h4>
                </div>
                <div class="card-body">
                    <img src="../../../assets/images/preguntados.gif" alt="" class="responsive">
                    <button type="button" class="btn btn-lg btn-block btn-outline-success"
                        routerLink="/memotest">Jugar</button>
                </div>
            </div>
            <!--    <div class="card mb-4 shadow-sm text-white bg-dark border border-primary">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">MiJuego</h4>
            </div>
            <div class="card-body">
                <img src="../../../assets/images/caraoseca.jpg  " alt="" class="responsive">
                <button type="button" class="btn btn-lg btn-block btn-outline-success"
                    routerLink="/caraoseca">Jugar</button>
            </div>
        </div> -->
            <!-- <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Memotest</h4>
            </div>
            <div class="card-body">
                <img src="../../../assets/imagenes/memotest.gif" alt="" class="responsive">
                <button type="button" class="btn btn-lg btn-block btn-outline-dark"
                    routerLink="/Juegos/Memotest">Jugar</button>
            </div>
        </div>
        <div class="card mb-4 shadow-sm text-white bg-transparent border border-primary">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal ">Cara O Seca</h4>
            </div>
            <div class="card-body">
                <img src="../../../assets/imagenes/caraoceca.gif" alt="" class="responsive">
                <button type="button" class="btn btn-lg btn-block btn-outline-dark"
                    routerLink="/Juegos/Caraoseca">Jugar</button>
            </div>
        </div> -->
        </div>
    </div>
</div>