<app-header></app-header>
<main role="main">
    <app-carousel></app-carousel>
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <!-- <app-marketing></app-marketing> -->
        <!-- START THE FEATURETTES -->
        <!-- <app-featurettes></app-featurettes> -->
        <!-- /END THE FEATURETTES -->
    </div><!-- /.container -->
    <!-- FOOTER -->
    <!-- <app-footer></app-footer> -->
</main>